<%= simple_form_for(@cocktail) do |f| %>
  <label for="Name of Cocktail"> <%= f.input :name, placeholder: "Mojito" %> </label>
  <%= f.button :submit, class: "btn btn-primary"  %>
  <%= link_to 'Back', cocktails_path, class: 'btn btn-default' %>
<% end %>


